/* LIGHT MODE COLORS == */
html {
    --bg: #ffffff;
    --bg-nav:  #07b1a3;
    --bg-note-list: #e4e4e4;
    --bg-note-items: #c5c5c5;  /* #c5c5c5 */
    --active: #ffffff;
    /* text colors*/
    --color-title: #000000;
    --color-underline: lightgray;
    --color-li: #ffffff;
    --color-p: black;
    --hover: black;
    --color-button: #000000;
}

/* DARK MODE COLORS == */
html[data-theme='dark'] {
    --bg: #010a0a;
    --bg-nav:  #011d1b;
    --bg-note-list: #0c1214;
    --bg-note-items: #c5c5c5;
    --color-title: #ffffff;
    --color-underline: #ffffff;
    --color-li: #068b80;
    --color-p: whitesmoke;
    --hover: whitesmoke;
    --color-button: #FFFFFF;
    --color-note-title: #97a2a311;
    --active: #010a0a;
}

.note-list h3 {
color: #808080; 
}

p {
    color: var(--color-p);
}

.fa-star {
    color: #8f8e8e;
}

    body {
        background-color: var(--bg)
    }

    .note-list li.active {
        background-color: var(--active);
    }
    

    /* li dark mode == */ /* anchor-taggarna är borta, så denna måste ändras */
.side-nav li{
    text-decoration: none;
    color: var(--color-li);
}


 /* POSITION FOR DARK LIGHT BUTTON == */
 /* ================================*/
 .onoffswitch {
     align-items: left;
    position: relative; 
    width: 20px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #ffffff; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 8px; padding: 0; line-height: 10px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 5px;
    background-color: #04625A; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 5px;
    background-color: #068b80; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 1px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 7px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: -2px; 
}