/* LIGHT MODE COLORS == */
html {
    height: 100%; /* denna finns redan i main.css */
    --bg: whitesmoke;
    --bg-nav:  #07b1a3;
    --bg-note-list:  rgb(247, 247, 247);
    --color-underline: lightgray;
    --color-li: whitesmoke;
    --color-p: black;
    --hover: black;
}

/* DARK MODE COLORS == */
html[data-theme='dark'] {
    --bg: #131313;
    --bg-nav:  #011d1b;
    --bg-note-list:  rgb(61, 61, 61);
    --color-underline: whitesmoke;
    --color-li: #07b1a3;
    --color-p: whitesmoke;
    --hover: whitesmoke;
}


    body {
        background-color: var(--bg)
    }

    /* li dark mode == */ /* anchor-taggarna är borta, så denna måste ändras */
.side-nav li a {
    text-decoration: none;
    color: var(--color-li);
}


 /* POSITION FOR DARK LIGHT BUTTON == */
 /* ================================*/
 .onoffswitch {
     align-items: left;
    position: relative; 
    width: 20px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 8px; padding: 0; line-height: 10px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 5px;
    background-color: #07B1A3; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 5px;
    background-color: #011D1B; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 1px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 7px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: -2px; 
}