.note-editor {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

#title-input {
    height: 2.5rem;
    font-weight: 700;
    font-size: 1.5rem;
    border: none;
    width: 100%;
    background-color: var(--bg-note-list);
    color: var(--color-p);
    outline: none;  /* not so good accessibility */
}

.title-underline {
    margin-bottom: 0.5rem;
    border: solid 0.5px lightgray;
    background-color: var(--color-underline);
    
}

#body-text-area {
    flex: 1;
    overflow: auto;
    word-break: break-word;
    font-size: 18px;
    line-height: 125%;
    color: var(--color-p);
}

#body-text-area:focus {
    outline: none;  /* not so good accessibility */
}
