.note-editor {
    flex: 2;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    padding: 3rem;
}

.editor-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
	overflow: auto;
}

#title-input {
    height: 3rem;
    font-weight: 700;
    font-size: 1.75rem;
    border: none;
    outline: none;  /* not so good accessibility */
}

.title-underline {
    margin-bottom: 0.25rem;
    margin-bottom: 0.75rem;
    border: solid 0.5px lightgray;
    background-color: lightgray;
}

#body-text-area {
    flex: 1;
	font-size: 17px;
    line-height: 140%;
}

#body-text-area ul {
    padding-left: 2rem;
}

#body-text-area:focus {
    outline: none;  /* not so good accessibility */
}
