.side-nav {
	width: 48px;
    background: var(--bg-nav);
}

.main-side-nav {
    list-style: none;
	display: flex;
    height: 100%;
	flex-direction: column;
    overflow-y: auto;
}

.main-side-nav li {
    display: flex;
    justify-content: center;
    align-items: center;
	min-width: 48px;
    min-height: 48px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

/* .side-nav li.hidden {
    display: none;
} */

.side-nav li:hover {
    background-color: var(--hover);
}

#back-btn {
    display: none;
}

#back-btn.visible {
    display: flex;
}

.fas.fa-arrow-left {
    font-size: 20px;
}

.last-item {
    margin-top: auto;
}
